 
    .main-container{
    
        background-color: rgb(58,64,71);
     color: aliceblue;
     height: 200px;

    }
    .grid-container{
     
        display: grid;
        grid-template-columns: auto 100px 100px;
    }
    .input-field{
        height: 29px;
    }
    .flex-container{
        display: flex;
    
        justify-content: space-around;
        margin-top: 30px;
    }
    .flex-container div{
        
        justify-content: space-around;
    }
    .main-footer-container{
        padding: 20px;
        height: 300px;
        display: flex;
        background-color:rgb(140,141,148);
        color: aliceblue;
        justify-content: space-around;
    }
    .heading{
        margin-bottom: 16px;
    }