
.navbar{
  position: relative;
  padding: 10px;
  background-color: white;
transition: all 0.3s ease-in-out;
}
.navbar.fixed{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;

}
.first-pink-area-on-top{
    
    width:100%;
    height: 27px;
    background-color:palevioletred;
    overflow: hidden; /* Prevents text from overflowing the view */
    white-space: nowrap; /* Prevents text wrapping */
    height: 40px;
    line-height: 40px;
    display: flex;
    align-items: center;
}
.marquee-text {
    display: inline-block;
    animation: slideText 10s linear infinite; /* Adjust the timing for speed */
  }
  
  /* Define the keyframe animation */
  @keyframes slideText {
    0% {
      transform: translateX(100%); /* Start from off-screen right */
    }
    50% {
      transform: translateX(-100%); /* Move out of the screen left */
    }
    100% {
      transform: translateX(-100%); /* Loop the text */
    }
  }
  
.nav-logo{
    margin-top: 5px;
}
.container-navitems{
margin-top: 10px;

}
.nav-logo-links{
  
  padding: 23px;
  width: 85%;
  margin: auto;
}
.container-of-navitems{
  
  padding: 13px;
  
}